@model IEnumerable<GTC13357.Models.CourseTitle>
@{

}

<div class="container-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="head_GTC_h">Choose Course to attach:</h2>
        </div>
        <div class="col-6">

        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table style="border-style:solid;">
            <thead>
                <tr>
                    <th style="border-style:solid;">Id</th>
                    <th style="border-style:solid;">Title</th>
                    <th style="border-style:solid;">Author Name</th>
                    <th style="border-style:solid;">Author Surname</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var courseTitle in Model)
                {
                    <tr>
                        <td style="border-style:solid;">@courseTitle.Id</td>
                        <td style="border-style:solid;">@courseTitle.Title</td>
                        <td style="border-style:solid;">@courseTitle.Author_Name</td>
                        <td style="border-style:solid;">@courseTitle.Author_Surname</td>
                        <td style="border-style:solid;">
                            <a asp-controller="Course" asp-action="Attach" asp-route-courseId="@ViewData["crsId"]" asp-route-courseTitleId="@courseTitle.Id">Attach</a>

                        </td>
                    </tr>


                }



            </tbody>

        </table>
    }
    else
    {
        <p>No courses yet!</p>
    }

</div>