@model IEnumerable<GTC13357.Models.Course>
@{

}
<div class="container-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2>List of courses</h2>
        </div>
        <div class="col-6">

        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table style="border-style:solid;">
            <thead>
                <tr>
                    <th style="border-style:solid;">Id</th>
                    <th style="border-style:solid;">First Name</th>
                    <th style="border-style:solid;">Surname</th>

                    <th style="border-style:solid;">Hours</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                <tr>
                    <td style="border-style:solid;">@course.Id</td>
                    <td style="border-style:solid;">@course.First_Name</td>
                    <td style="border-style:solid;">@course.Surname</td>
                    <td style="border-style:solid;">@course.Hours</td>
                    <td style="border-style:solid;">
                        <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.Id">Edit</a>
                        <a asp-controller="Course" asp-action="Delete" asp-route-id="@course.Id">Delete</a>
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">Details</a>

                    </td>
                </tr>


                }



            </tbody>

        </table>
    }
    else
    {
        <p>No courses yet!</p>
    }

</div>