@model ICollection<GTC13357.Models.Course>

@{
}
<h1>Course list: </h1>
<table style="border-style:solid;">
    <thead>
        <tr>

            <th style="border-style:solid;">Name</th>
            <th style="border-style:solid;">Type</th>
            <th style="border-style:solid;">Hours</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var course in @Model)
        {
        <tr>

            <td style="border-style:solid;">@course.First_Name</td>
            <td style="border-style:solid;">@course.Surname</td>
            <td style="border-style:solid;">@course.Type</td>
            <td style="border-style:solid;">@course.Hours</td>
            <td style="border-style:solid;">
                <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.Id">Edit</a>
                <a asp-controller="Course" asp-action="Delete" asp-route-id="@course.Id">Delete</a>
                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">Details</a>
            </td>
        </tr>


        }
    </tbody>

</table>